h1{
  text-align: center;
}

h2{
  text-align: center;
}

.zoe h2{
  font-size: 90px;
  margin:0;
}

h3{
  color: black;
  text-align: center;
}

#age {
  font-size: 50px;

}

#recherche{
    color: red;
    text-indent: 80px;
    text-align: center;
    font-style: italic;

}
p{ font-size: 20px; }

header { grid-area: header;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 0;

}

.photo { grid-area: menu;
   margin-right: : 0px;
   padding-right: 0px;

}

.menu{
  grid-area: menu;
  overflow: hidden;
  font-size: 30px;
}

.main { 
  grid-area: main;
  padding: 20px 0;
  font-size: 20px;
  max-height: 500px;
  overflow-y: scroll;
}

.expprof html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* Three columns side by side */
.colonne{
  float: left;
  width: 28%;
  margin-bottom: 16px;
  margin-left: 20px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .colonne {
    width: 80%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.cardcontainer {
  padding: 0 16px;
}

/* Clear floats */
.cardcontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


.projet{
  margin-top: 500px;
}
.container_projet {
  position: relative;
  margin-left: 20%;
  margin-top: 12%;
  width: 60%;
  color: red;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  #FE797D;
  border-radius: 6px;
}

.container_projet:hover .overlay1 {
  opacity: 1;
}

#text-projet {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#text-projet2 {
  color: black;

  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-style: italic;
}

#titre-projet {
  color: black;
  font-size: 38px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

.grid-container{

  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'menu menu main main main main main '
    'footer footer footer footer footer footer footer';
  grid-gap: 0px;

}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  font-size: 20px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 4px;
}

.btn:hover {opacity: 0.3}

#btn1{
  margin-left: 300px;
}
#btn2{
  margin-left: 310px;
}
#btn3{
  margin-left: 340px;
}
#btn4{
  margin-left: 340px;
}
#btn5{
  margin-left: 320px;
}
#btn6{
  margin-left: 300px;
}

/* Container for skill bars */
.container-comp {
  width: 80%; /* Full width */
  margin-left: 20%;
  border-radius: 6px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 6px;
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

  footer{ grid-area: footer; 
 background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 15px;
  max-height: 40px;}


.timeline {
  position: relative;
  width: 80%;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 60%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid red;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  right: 2%;
  text-align: center;
}

.left h2{
  right: 2%;
  text-align: right;
}

/* Place the container to the right */
.right {
  left: 60%;
  text-align: center;
}

.right h2 {
  left: 60%;
  text-align: left;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid red;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid red;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 10px 10px;
  background-color: #FE797D;
  position: relative;
  border-radius: 6px;
}

